@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #153555;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    height: 64px;
    width: auto;
    animation: spin 10s linear infinite;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.logo:hover {
    animation-play-state: paused;
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.6));
    cursor: pointer;
}

